 #nowTime, #nextTime {
   width: 100%;
   position: relative;
 }
 .title {
   width: 100%;
   height: 30px;
   background: #fff;
   color: #000;
 }
 .title .c {
   text-align: center;
   line-height: 30px;
 }
 .title .l {
   position: absolute;
   top: 6px;
   left: 5px;
 }
 .title .r {
   position: absolute;
   top: 6px;
   right: 5px;
 }
 table {
   width: 100%;
   background: #dee3e9;
   color: #9ea7ac;
 }
 table tr {
   background: #f9fafc;
 }
 table th {
   width: 46px;
   padding: 5px;
 }
 table td {
   padding: 5px;
   text-align: center;
 }
 .red {
   color: #f00;
 }
 .blue {
   color: #00f;
 }
