body {
  background-color: #f7f7f7;
}

.trangle {
  display: inline-block;
  height: 0;
  width: 0;
  border-style: solid;
}
.g-wapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.g-wapper .m-search {
  background-color: #25a4bb;
}
.m-search .city-pick {
  height: 42px;
  border-bottom: 1px solid #1b7a8b;
}
.m-search a {
  display: inline-block;
  text-decoration: none;
}
.city-pick div {
  float: left;
}
.m-search .back {
  width: 25%;
}

.back a {
  height: 42px;
  line-height: 50px;
  margin-left: 20%;
}
.back span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent white white;
  -webkit-transform: rotate(45deg);
}
.city-pick .city {
  width: 50%;
  margin-top: 14px;
  text-align: center;
}
.city-name {
  font-size: 15px;
  color: white;
}
.city-trangle {
  border-width: 6px;
  border-color: white transparent transparent transparent;
  vertical-align: middle;
}
.map {
  width: 25%;
  text-align: right;
}
.map a {
  width: 27px;
  margin: 2px 12px 0 0;
  text-align: center;
  font-size: 12px;
  color: white;
}
.map img {
  width: 25px;
}
.map-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../imgs/icons.png) no-repeat 0 -54px;
}
.hotel-pick {
  height: 35px;
}
.hotel-pick .hotel-name {
  width: 77%;
  height: 30px;
  float: left;
  background: white;
  margin-top: 2px;
  margin-left: 2px;
}
.hotel-name .search-icon {
  float: left;
  width: 17px;
  height: 17px;
  margin: 8px 0 0 16px;
  background: url(../imgs/icons.png) no-repeat 0 -74px;
}
.hotel-name .search-input {
  float: left;
  width: 70%;
}
.search-input input {
  height: 30px;
  width: 100%;
  font-size: 16px;
  border: none;
  padding-left: 5px;
}
.date-pick {
  float: left;
  background: white;
  width: 20%;
  height: 30px;
  margin-left: 5px;
  margin-top: 2px;
}
.date-pick .date {
  float: left;
  color: #25a4bb;
  margin-left: 6px;
}
.date-pick p {
  line-height: 15px;
}
.date-pick .down {
  border-width: 5px;
  border-color: #25a4bb transparent transparent transparent;
  position: relative;
  top: 13px;
  left: 2px;
}
.m-content {
  width: 100%;
}
.m-content .c-sort {
  height: 37px;
  border-bottom: 1px solid #CCC;
}
.c-sort ul {
  height: 100%;
  width: 93%;
  margin-left: 12px;
  text-align: center;
}
.c-sort ul li {
  display: inline-block;
  line-height: 37px;
  width: 30%;
  box-sizing: border-box;
}
.c-sort a, .c-sort span {
  vertical-align: middle;
}
.c-sort span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.order span {
  background: url(../imgs/icons.png) no-repeat 0 0;
}
.level span {
  background: url(../imgs/icons.png) no-repeat 0 -18px;
}
.filter span {
  background: url(../imgs/icons.png) no-repeat 0 -36px;
}
.order:after, .level:after  {
  content: '|';
  margin-left: 10px;
}
.content-lists {
  width: 100%;
}
.list li {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}
.list li:nth-child(2n) {
  background: white;
}
.list .lookfor {
  position: absolute;
}
.list img {
  float: left;
  width: 64px;
  height: 64px;
  margin-top: 4px;
  padding: 0 6px;
}
.details {
  display: inline-block;
  width: 70%;
  position: relative;
}
.details .stars {
  line-height: 18px;
}
.details .location, .stars {
  color: #8c8ca2;
  font-size: 13px;
}
.details .rmb {
  font-size: 12px;
}
.details .money-start {
  color: #8c8ca2;
  font-size: 12px;
}
.details .price {
  position: absolute;
  color: #ff6600;
  font-size: 20px;
  right: 8px;
  top: 50%;
  margin-top: -10px;
}
.details .group {
  width: 1em;
  line-height: 1.2;
  margin: 2px 0;
  padding: 0 2px;
  font-size: 14px;
  background-color: #25a4bb;
  color: white;
}
.lookfor {
  right: 3%;
  top: 50%;
  margin-top: -8px;
}
.lookfor span {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: #ccc #ccc transparent transparent;
  -webkit-transform: rotate(45deg);
}
.area-cate span {
  float: right;
  margin-top: 10px;
  width: 5px;
  height: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: #ccc transparent transparent #ccc;
  /*-webkit-transform: rotate(45deg);*/

}
.arrow-up {
  -webkit-transform: rotate(45deg);
}
.arrow-down {
  -webkit-transform: rotate(-135deg);
}
.details-name {
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.bottom {
  overflow: hidden;
  text-align: center;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
}
.more {
  float: left;
  width: 70%;
  border-right: 1px solid #ccc;
  cursor: pointer;
}

.goTop span {
  border-width: 7px;
  border-color: transparent transparent #000;
  margin-bottom: 3px;
}

.category {
  overflow: hidden;
  height: 25px;
  margin: 10px auto;
  line-height: 25px;
  text-align: center;
  vertical-align: middle;
}
.category li {
  float: left;
  width: 25%;
}
.category li span {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 5px;
  vertical-align: middle;
}
.ticket span {
  background: url(../imgs/b-icons.png) no-repeat 0 0;
}
.hotel span {
  background: url(../imgs/b-icons.png) no-repeat 0 -24px;
}
.gBuying span {
  background: url(../imgs/b-icons.png) no-repeat 0 -48px;
}
.category .cMore span {
  width: 11px;
  height: 16px;
  background: url(../imgs/b-icons.png) no-repeat 0 -70px;
}
.gBuying {
  position: relative;
}
.gBuying:after {
  content: "|";
  position: absolute;
  right: 0;
}
.footer-nav {
  margin-top: 20px;
  overflow: hidden;
  text-align: center;
  font-size: 16px;
}

.footer-nav li {
  float: left;
  width: 23%;
}

.pick-platform {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
}

.pick-platform li {
  display: inline-block;
  margin: 0 15px;
}
.copyright {
  margin: 10px 0;
  color: #9e9e9e;
  text-align: center;
}
.feedback {
  margin-left: 10px;
}

/*tab search*/
.search-tab .hotel-pick {
  padding: 2px 0;
}
.search-tab .hotel-pick,.search-tab .hotel-name {
  width: 98%;
  margin-left: 1%;
}
.search-tab .search-input {
  width: 80%;
}
.tab-title {
  display: flex;
}
.tab-title div{
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}
.search-history, .hot-com {
  width: 48%;
  border-bottom: 1px solid #cacaca;
  flex: 1;
}
.vertical-line {
  width: 0px;
  height: 30px;
  margin-top: 5px;
  border-right: 1px solid #ddd;
}
.com-list dd, .history-list dd{
  height: 27px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 27px;
  background-color: #fff;
  border-bottom: 1px solid #cacaca;
  overflow: hidden;
}
.com-list {
  display: none;
}
.his-detail span{
  display: inline-block;
  width: 5px;
  height: 5px;
}
.tab-active {
  color: #10dae2;
  border-color: #10dae2;
}
.del-icon {
  float: right;
  background: url(../imgs/delIcon.png) no-repeat;
  width: 22px;
  height: 22px;
  margin-top: 5px;
  background-size: 20px;
  cursor: pointer;
}

.hotel-content {
  background: white;
  font-size: 17px;
  line-height: 45px;
}
.hotel-index {
  display: table-cell;
  width: 100px;
  background: rgb(243, 243, 243);
}
.hotel-index li {
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
  border-right:  1px solid #ccc;
}
.hotel-detail {
  display: none;
  padding-left: 10px;
}

.city-detail dt{
  font-size: 14px;
  line-height: 20px;
  color: #999;
  background: #f3f3f3;
  padding-left: 10px;
  border-bottom: 1px solid #cacaca;
}
.city-detail .get-city {
  height: 27px;
  line-height: 27px;
  font-size: 16px;
  color: #000;
  padding-left: 30px;
  background: white url(../imgs/location.png) no-repeat 10px 4px;
  background-size: 14px;
}

.selbtn {
  height: 40px;
  line-height: 40px;
  background: #bababa;
}
.selbtn span {
  width: 49%;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.sort-format {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}

.sort-cat li{
  text-align: center;
  height: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000;
  font-size: 18px;
}

.mask {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: .4;
}

.city-detail, .search-detail, .hotel-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  right: -100%;
  top: 0;
  background: white;
}

#clear-history {
  text-align: center;
  color: #25a4bb;
  font-size: 14px;
  line-height: 27px;
  margin-top: 2px;
}

.index-list .index-list-active {
  background: white;
  border-right: none;
}
.area-cate li:after {
  border:
}
.price-format {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  background: white;
}
.price-choose div {
  float: left;
  width: 50%;
  text-align: center;
}
.price-choose dt, .price-choose dd {
  line-height: 30px;
  font-size: 18px;
  height: 30px;
}
.price-choose dt {
  margin-top: 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#oLoader {
  display: none;
  width: 100%;
  height: 30px;
  background: url(../imgs/ajax-loader.gif) no-repeat center #fff;
}
.suggest {
  display: none;
  background: #fff;
}
.suggest li {
  line-height: 30px;
  height: 30px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
  border-bottom: 1px solid #ccc;
}

.history-list ul {
  display: none;
}