body {
  background-color: #f7f7f7;
}

.trangle {
  display: inline-block;
  height: 0;
  width: 0;
  border-style: solid;

}
.g-wapper {
  width: 100%;
}
.g-wapper .m-search {
  background-color: #25a4bb;
}
.m-search .city-pick {
  height: 42px;
  border-bottom: 1px solid #1b7a8b;
}
.m-search a {
  display: inline-block;
  text-decoration: none;
}
.city-pick div {
  float: left;
}
.m-search .back {
  width: 25%;
}

.back a {
  height: 42px;
  line-height: 50px;
  margin-left: 20%;
}
.back span {
  display: inline-block;
  width: 7px;
  height: 7px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent red red;
  -webkit-transform: rotate(45deg);
}
.city-pick .city {
  width: 50%;
  margin-top: 14px;
  text-align: center;
}
.city-name {
  font-size: 15px;
  color: white;
}
.city-trangle {
  border-width: 6px;
  border-color: white transparent transparent transparent;
  vertical-align: middle;
}
.map {
  width: 25%;
  text-align: right;
}
.map a {
  width: 27px;
  margin: 2px 12px 0 0;
  text-align: center;
  font-size: 12px;
  color: white;
}
.map img {
  width: 25px;
}
.hotel-pick {
  height: 35px;
}
.hotel-pick .hotel-name {
  width: 75%;
  height: 30px;
  float: left;
  background: white;
  margin-top: 2px;
  margin-left: 2px;
}
.hotel-name .search-icon {
  float: left;
  width: 17px;
  height: 17px;
  margin: 8px 0 0 16px;
  background: url(../imgs/search.png) no-repeat -15px 0;
}
.hotel-name .search-input {
  float: left;
  width: 70%;
}
.search-input input {
  height: 30px;
  width: 100%;
  font-size: 16px;
  border: none;
  padding-left: 5px;
}
.date-pick {
  float: left;
  background: white;
  width: 20%;
  height: 30px;
  margin-left: 5px;
  margin-top: 2px;
}
.date-pick .date {
  float: left;
  color: #25a4bb;
  margin-left: 6px;
}
.date-pick p {
  line-height: 15px;
}
.date-pick .down {
  border-width: 5px;
  border-color: #25a4bb transparent transparent transparent;
  position: relative;
  top: 13px;
  left: 2px;
}
.m-content {
  width: 100%;
}
.m-content .c-sort {
  height: 37px;
  border-bottom: 1px solid #CCC;
}
.c-sort ul {
  height: 100%;
  width: 93%;
  margin-left: 12px;
  /*text-align: center;*/
}
.c-sort ul li {
  display: inline-block;
  line-height: 37px;
  padding-left: 18px;
  margin-left: 14px;
  box-sizing: border-box;
}
.c-sort .order {
  background: url(../imgs/sort.png) no-repeat left;
  background-size: 16px 16px;
}
.c-sort .level {
  background: url(../imgs/money.png) no-repeat left;
  background-size: 16px 16px;
}
.c-sort .filter {
  background: url(../imgs/select.png) no-repeat left;
  background-size: 16px 16px;
}
.c-sort .order:after {
  content: '|';
  margin-left: 10px;
}
.c-sort .level:after {
  content: '|';
  margin-left: 10px;
}
.content-lists {
  width: 100%;
}
.list li {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}
.list li:nth-child(2n) {
  background: white;
}
.list img, .list .lookfor {
  position: absolute;
}
.list img {
  width: 20%;
  height: 64px;
  top: 50%;
  margin-top: -32px;
  padding: 0 6px;
}
.details {
  display: inline-block;
  width: 70%;
  left: 24%;
  position: relative;
}
.details .stars {
  line-height: 18px;
}
.details .location, .stars {
  color: #8c8ca2;
  font-size: 13px;
}
.details .rmb {
  font-size: 12px;
}
.details .money-start {
  color: #8c8ca2;
  font-size: 12px;
}
.details .price {
  position: absolute;
  color: #ff6600;
  font-size: 20px;
  right: 8px;
  top: 50%;
  margin-top: -10px;
}
.details .group {
  width: 1em;
  line-height: 1.2;
  margin: 2px 0;
  padding: 0 2px;
  font-size: 14px;
  background-color: #25a4bb;
  color: white;
}
.lookfor {
  width: 5%;
  right: 1%;
  top: 50%;
  margin-top: -8px;
}
.lookfor span {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-width: 3px;
  border-style: solid;
  border-color: #ccc #ccc transparent transparent;
  -webkit-transform: rotate(45deg);
}
.details-name {
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}